@page "/categories"
@inject CategoryService CategoryService
@inject NavigationManager NavigationManager

<h3>Category List</h3>

@if (isLoading)
{
    <p><em>Loading...</em></p>
}
else if (categories == null || !categories.Any())
{
    <p><em>There are no categories to display.</em></p>
    <button @onclick="CreateNewCategory">Create New Category</button>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var category in categories)
            {
                <tr>
                    <td>@category.Name</td>
                    <td>
                        <a href="/categories/edit/@category.Id">Edit</a> |
                        <a href="/categories/delete/@category.Id">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <Pagination CurrentPage="currentPage" TotalPages="totalPages" OnPageSelected="LoadPage" />
}

@code {
    private IEnumerable<CategoryDto> categories;
    private int currentPage = 1;
    private int totalPages;
    private int pageSize = 5;
    private bool isLoading = true;

    protected override async Task OnInitializedAsync()
    {
        await LoadPage(currentPage);
    }

    private async Task LoadCategories()
    {
        isLoading = true;
        var paginatedResult = await CategoryService.GetPaginatedCategoriesAsync(currentPage, pageSize);
        categories = paginatedResult.Items;
        totalPages = paginatedResult.TotalPages;
        isLoading = false;
    }

    private async Task LoadPage(int page)
    {
        currentPage = page;
        await LoadCategories();
    }

    private void CreateNewCategory()
    {
        NavigationManager.NavigateTo("/categories/create");
    }
}